
<!-- include header -->
<%- include('include/_0_header') %>
<!-- include header -->
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <!-- Header -->
    <div id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/home" class="nav-brand text-dark">Registro de Ingresos</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Header -->
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/registro-ingresos"><i class="fas fa-angle-double-left"></i> Ingresos</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Modificar registro "<%=ingreso.documento%>"</h2>
            </div>
                <!-- form-handling -->
                <form action="/api/ingreso" method='POST' id="update_ingreso">
                    <div class="form_body">
                        <div class="form-group">
                            <label for="documento" class="text-light">Documento</label>
                            <input type="hidden" name="id" value="<%=ingreso._id%>">
                            <input type="text" name="documento" value="<%=ingreso.documento%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fecharegistro" class="text-light">Fecha de Registro</label>
                            <input type="text" name="fecharegistro" value="<%=ingreso.fecharegistro%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nroperacion" class="text-light">#Operación Bancaria</label>
                            <input type="text" name="nroperacion" value="<%=ingreso.nroperacion%>" placeholder="Número de operación si es transferencia bancaria">
                        </div>
                        <div class="form-group">
                            <label for="cuenta" class="text-light">Cuenta</label>
                            <input type="text" name="cuenta" value="<%=ingreso.cuenta%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="vecino" class="text-light">Vecino</label>
                            <input type="text" name="vecino" value="<%=ingreso.vecino%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="concepto" class="text-light">Concepto</label>
                            <input type="text" name="concepto" value="<%=ingreso.concepto%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="periodo" class="text-light">Periodo</label>
                            <input type="text" name="periodo" value="<%=ingreso.periodo%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="monto" class="text-light">Monto (S/)</label>
                            <input type="number" min="0.01" step="0.01" name="monto" value="<%=ingreso.monto%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="detalle" class="text-light">Detalle (máx. 80 caracteres)</label>
                            <input type="text" maxlength="80" name="detalle" value="<%=ingreso.detalle%>" placeholder="Ingrese Detalle">
                        </div>
                        <div class="form-group">
                            <label for="estado" class="text-light">Estado</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-2" name="estado" value="Válido" <%=ingreso.estado=='Válido'?'checked':''%>>
                                <label for="radio-2" class="radio-label">Válido</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" id="radio-3" name="estado" value="Anulado" <%=ingreso.estado=='Anulado'?'checked':''%>>
                                <label for="radio-3" class="radio-label">Anulado</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn text-dark update">Guardar</button>
                        </div>
                    </div>
                </form>
        </div>
    </main>
    <!-- Main Site -->
    
    <script src="/js/4_registro_ingresos.js"></script>

<!-- include footer -->
<%- include('include/_8_footer') %>
<!-- include footer -->